# Django
SECRET_KEY=change-me-to-a-random-50-char-string
DEBUG=False
ALLOWED_HOSTS=host1.com,host2.com
CSRF_TRUSTED_ORIGINS=https://host1.com,https://host2.com
FORCE_SCRIPT_NAME=/expense-tracker
DB_PATH=/app/data/db.sqlite3

# Cloudflare Turnstile
TURNSTILE_SITE_KEY=your-site-key
TURNSTILE_SECRET_KEY=your-secret-key

# Email (for backups/alerts)
GMAIL_ADDRESS=email-address-to-send-backups-from
GMAIL_APP_PASSWORD=your-app-password
BACKUP_EMAIL_TO=email-to-send-backups-to
